.login {
  // border: 2px solid black;
  min-height: 100vh;
  .flex-center {
    gap: 15rem;

    .right {
      position: relative;
      width: 51.6rem;
      height: 63rem;
      background: #ffffff;
      box-shadow: 1px -10px 25px rgba(201, 201, 201, 0.25),
        -1px 10px 25px rgba(147, 147, 147, 0.25);
      border-radius: 3px;
      padding: 11rem 7.4rem;
      h4 {
        text-align: center;
        font-size: 2rem;
      }

      .form-footer {
        text-align: right;
        span {
          font-size: 1.2rem;
          line-height: 1.5rem;
          color: #7e7e7e;
        }
        .link {
          text-transform: uppercase;
          font-weight: 600;
          font-size: 1.4rem;
          line-height: 1.7rem;
          text-decoration-line: underline;
          color: #1678cb;
          margin-left: 1rem;
        }
      }
    }
  }
}
