.result-text {
  position: absolute;
  top: 1rem;

  right: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: green;
  color: white;
  border-radius: 5px;
}
form {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   gap: 5.4rem;
  //   margin: 10rem 0;
  //   border: 2px solid black;

  .name-input {
    width: 100%;
    position: relative;
    input {
      width: 100%;
      outline: none;
      border: none;
      border-bottom: 1px solid #a4a4a4;
      padding: 3px 1.5rem;
      font-size: 1.6rem;
      color: #b4b4b4;

      &::placeholder {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: #b4b4b4;
      }
    }
    .error {
      position: absolute;
      bottom: -2rem;
      left: 1rem;
      font-size: 1.2rem;
      line-height: 15px;
      color: #7e7e7e;
    }
  }
}
