.signup {
  // border: 2px solid black;
  min-height: 100vh;
  .flex-center {
    gap: 15rem;
    .right {
      width: 516px;
      height: 630px;
      background: #ffffff;
      box-shadow: 1px -10px 25px rgba(201, 201, 201, 0.25),
        -1px 10px 25px rgba(147, 147, 147, 0.25);
      border-radius: 5px;
      padding: 11rem 7.4rem;
      h4 {
        text-align: center;
        font-size: 2rem;
      }
      form {
        margin: 10rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5.4rem;

        .form-box {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5.4rem;
          height: 11rem;
          position: relative;
          overflow: hidden;

          div {
            transition: all 0.4s ease-in;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5.4rem;
            input {
              width: 100%;
              outline: none;
              border: none;
              border-bottom: 1px solid #a4a4a4;
              padding: 3px 1.5rem;
              font-size: 1.6rem;
              color: #b4b4b4;

              &::placeholder {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #b4b4b4;
              }
            }
          }
        }
        .btn-box {
          display: flex;
          .back {
            cursor: pointer;
            background: transparent;
            border: none;
            transform: translateX(-7rem);
            font-weight: 700;
            font-size: 1.2rem;
            line-height: 1.5rem;
            color: #767676;
          }
          .btn-next {
            display: flex;
            gap: 1rem;
            .arrow {
              transform: translateY(2.3px);
            }
            &:hover {
              path {
                fill: var(--color-primary);
              }
            }
          }
        }
        .btn-next {
          display: flex;
          gap: 1rem;
          .arrow {
            transform: translateY(2.3px);
          }
          &:hover {
            path {
              fill: var(--color-primary);
            }
          }
        }
      }
      .form-footer {
        text-align: right;
        span {
          font-size: 1.2rem;
          line-height: 1.5rem;
          color: #7e7e7e;
        }
        .link {
          text-transform: uppercase;
          font-weight: 600;
          font-size: 1.4rem;
          line-height: 1.7rem;
          text-decoration-line: underline;
          color: #1678cb;
          margin-left: 1rem;
        }
      }
    }
  }
}
